.link {
    padding: 12px 16px;
    color: #21035a;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    transition: all 200ms ease-in-out;
}

.link:hover {
    color: #f1f1f1;
}

.active {
    text-decoration: underline;
    color: #f1f1f1;
    text-decoration-color: #f1f1f1;
    text-decoration-thickness: 2px;
}

.separator {
    font-size: 28px;
}
