.headerTrending {
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 87, 130);
    /* background-image: url("../../assets/img/ContactsApp.png"); */
}

.errorLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    color: red;
}
